{{> head }}


<!-- para indicarle a hbs que coloque un elemento partial en alguna posicion del archivo html se usa la sintaxis -->
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitan América</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea ab itaque, error beatae iste, minus in,
            consectetur officia animi labore eligendi magni expedita adipisci rem quia. Nisi magnam tempora dolorum!
        </p>
    </div>

    <div class="col-4">
        <img src="/06-web-server/public/assets/img/img_1.jpg" alt="imagen de bebida" class="img-thumbnail">
    </div>
</div>

{{> footer }}